# Core dependencies
streamlit
pandas
numpy
pygwalker

# Data file handling
chardet
openpyxl

seaborn
matplotlib

# Data processing
python-dateutil
pydantic

# Optional performance boosters
pyarrow
orjson
